body {
	background-color: lightblue;
}

section {
	margin-top: 4rem;
}

.form {
	width: 100%;
	min-height: 450px;
	height: auto;
	border-radius: 5px;
	padding: 2%;
	border-radius: 10px;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.form button {
	width: 80%;
	background-color:gray;
}

.form button:hover {
	background-color: red;
}