<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forr_User</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="./css/bootstrap.min.css">
<script src="./js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="./css/style2.css">
<link rel="stylesheet" href="./css/icofont/icofont/icofont.min.css">


<body>
    <header>
        <nav class="navbar fixed-top  navbar-expand-sm navbar-dark ">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" href="/asm/userr">
                        <img src="./image/logo/logo.png" alt="Avatar Logo" style="width:60px;" class="">
                        <!-- rounded-pill -->
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="">TV Show</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">New & Popular</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">My List</a>
                        </li>
                    </ul>
                    <div class="nav-icon">
                        <!-- <i class="icofont-search"></i>
                        <i class="icofont-bell-alt"></i> -->
                        <i class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="./image/logo/avatar.png" width="30" height="30" alt="">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">Edit Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Setting</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Log Out</a>
                                </li>
                            </ul>
                        </i>

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- slide show -->
    <div class="bd bn container-fluid">
        <section class="banner-sl">
            <div class="container">
                <div class=" banner">
                    <div id="demo" class="carousel slide" data-bs-ride="carousel">
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                        </div>

                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./image/banner/bn1.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="./image/banner/bn2.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="./image/banner/bn3.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="./image/banner/bn1.jpg" class="d-block w-100">
                            </div>
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- body -->
    <div class="bd container-fluid">
        <div class="container">
            <h3>Popilar on netflix</h3>
            <div class="row">
                <div class="col-md-3">
                    <div >
                        <div class="card">
                            <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                            <div class="card-body">
                                <h4>NetFlix</h4>
                                <p>
                                    <button class="icofont-like"></button>
                                    <button class="icofont-share-alt"></button>
                                </p>
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="col-md-3">
                    <div >
                        <div class="card">
                            <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                            <div class="card-body">
                                <h4>NetFlix</h4>
                                <p>
                                    <button class="icofont-like"></button>
                                    <button class="icofont-share-alt"></button>
                                </p>
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="col-md-3">
                    <div>
                        <div class="card">
                            <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                            <div class="card-body">
                                <h4>NetFlix</h4>
                                <p>
                                    <button class="icofont-like"></button>
                                    <button class="icofont-share-alt"></button>
                                </p>
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="col-md-3">
                    <div >
                        <div class="card">
                            <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                            <div class="card-body">
                                <h4>NetFlix</h4>
                                <p>
                                    <button class="icofont-like"></button>
                                    <button class="icofont-share-alt"></button>
                                </p>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
        <div class="line container-fluid"></div>
        <div class="bd container-fluid">
            <div class="container">
                <h3>Popilar on netflix</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
        <div class="line container-fluid"></div>
        <div class="bd container-fluid">
            <div class="container">
                <h3>Popilar on netflix</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
        <div class="line container-fluid"></div>
        <div class="bd container-fluid">
            <div class="container">
                <h3>Popilar on netflix</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
        <div class="line container-fluid"></div>
        <div class="bd container-fluid">
            <div class="container">
                <h3>Popilar on netflix</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
        <div class="line container-fluid"></div>
        <div class="bd container-fluid">
            <div class="container">
                <h3>Popilar on netflix</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
        <div class="line container-fluid"></div>
        <div class="bd container-fluid">
            <div class="container">
                <h3>Popilar on netflix</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
        <div class="line container-fluid"></div>
        <div class="bd container-fluid">
            <div class="container">
                <h3>Popilar on netflix</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="col-md-3">
                        <div >
                            <div class="card">
                                <a href=""><img class="image-kh w-100" src="./image/video/netflix.jpg" alt="" /></a>
                                <div class="card-body">
                                    <h4>NetFlix</h4>
                                    <p>
                                        <button class="icofont-like"></button>
                                        <button class="icofont-share-alt"></button>
                                    </p>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
        <footer >
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <ul>
                                <li class="list-group-item"><a href=""></a>Về tài khoản</li>
                                <li class="list-group-item"><a href=""></a>Về việc làm</li>
                                <li class="list-group-item"><a href=""></a>Về quyền riêng tư</li>
                                <li class="list-group-item"><a href=""></a>Liên hệ với chúng tôi</li>
                                <li class="list-group-item"><a href=""></a>Chỉ có trên NetFlix</li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li class="list-group-item"><a href=""></a>Điều khoản về thẻ quà tặng</li>
                                <li class="list-group-item"><a href=""></a>Trung tâm đa phương tiện</li>
                                <li class="list-group-item"><a href=""></a>Các cách xem</li>
                                <li class="list-group-item"><a href=""></a>Tùy chọn cookies</li>
                                <li class="list-group-item"><a href=""></a>Kiểm tra tốc độ</li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li class="list-group-item"><a href=""></a>Trung tâm hỗ trợ</li>
                                <li class="list-group-item"><a href=""></a>quan hệ với nhà đầu tư</li>
                                <li class="list-group-item"><a href=""></a>Điều khoản sử dụng</li>
                                <li class="list-group-item"><a href=""></a>Thông tin doanh nghiệp</li>
                                <li class="list-group-item"><a href=""></a>Thông tin pháp lý</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row panel panel-default ">
                        <div class="ph1 panel-heading text-center ">
                            Copyright &copy; 2023 | Design by PhuongNam | All Rights Reserved
                        </div>
                        <div class="ph2 panel-heading text-center">
                            <i class="icofont-facebook"></i>
                            <i class="icofont-youtube-play"></i>
                            <i class="icofont-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>

</html>